<p style="color: green"><%= notice %></p>

<% content_for :title, "Log in" %>

<%= form_with(model: @user, local: true, url: sign_in_path) do |form| %>
	<div class="container mt-5 mb-5 d-flex justify-content-center">
		<div class="card px-1 py-4">
			<div class="card-body">
				<h6 class="information mt-4">Let's log you in</h6>
				<div class="row">
					<div class="col-sm-12">
						<div class="form-group">
							<label for="name">Email</label>
							<%= form.text_field :email, class: "form-control", placeholder: "email" %>
						</div>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-sm-12">
						<div class="form-group">
							<label for="name">Password</label>
							<%= form.password_field :password, class: "form-control", placeholder: "***" %>
						</div>
					</div>
				</div>
				<div class=" d-flex flex-column text-center px-5 mt-3 mb-3"> 
					<small class="agree-text">Don't have account?</small> 
					<a href=<%= register_path %>
						class="terms">
						Sign up
					</a>
				</div> 
				<% if flash[:error] %>
					<div class="alert alert-danger mt-3" role="alert">
						<%= flash[:error] %>
					</div>
				<%end%>
				<button class="btn btn-primary btn-block confirm-button">
					Sign In
				</button>
			</div>
		</div>
	</div>
<%end%>